---
layout: posts
title: 文章列表
---

{% for post in paginator.posts %}
<article>
  <h2>
    <a href="{{ post.url }}">
      {{ post.title }}
    </a>
  </h2>
  <span class="post-category">
    {% for category in post.categories %}
    <span class="label">{{ category }}</span>
    {% endfor %}
  </span>
  <div class="post-meta">
    <span class="post-date">
      {{ post.date | date_to_string }}
    </span>
  </div>
  <div class="post-content">
    {{ post.content  | | split:'<!--more-->' | first }}
  </div>
</article>
{% endfor %}


<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<section class="intro">
  <div class="grid">
    <div class="unit align-center">
    {% if paginator.previous_page %}
      <span class="previous">
        {% if paginator.previous_page == 1 %}
        <a href="/">[上页]</a>
        {% else %}
        <a href="/alist/page{{paginator.previous_page}}">[上页]</a>
        {% endif %}
      </span>
      {% else %}
        <span class="previous disabled">
          <span>[上页]</span>
        </span>
    {% endif %}

    {% if paginator.page == 1 %}
      <span class="current-page">1</span>
    {% else %}
      <a href="/">1</a>
    {% endif %}

    {% for count in (2..paginator.total_pages) %}
      {% if count == paginator.page %}
        <span class="current-page">{{count}}</span>
      {% else %}
        <a href="/alist/page{{count}}">{{count}}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.total_pages > 3 %}
    <span class="page_number ">[{{ paginator.page }}/{{ paginator.total_pages }}]</span>
    {% endif %}

    {% if paginator.next_page %}
      <span class="next">
        <a href="/alist/page{{paginator.next_page}}">[下页]</a>
      </span>
    {% else %}
      <span class="next disabled">
        <span>[下页]</span>
      </span>
    {% endif %}
    </div>
  </div>
</section>
{% endif %}