<div id="header">
	<script type="text/javascript" src="http://tajs.qq.com/stats?sId=30775756" charset="UTF-8"></script>
	<header id="blog_title"> 
		<h1><a href="/">{{site.title}}</a></h1>
	</header>
	<nav id="menu">
		<ul class="header-nav">
			<li><a href="https://github.com/lusipha" target="_blank">Github</a></li>
			<li{% if page.read %} class="current"{% endif %}><a href="/tags.html">Tags</a></li>
			<li{% if page.photo %} class="current"{% endif %}><a href="/read.html">Read</a></li>
			<li{% if page.about %} class="current"{% endif %}><a href="/about">About</a></li>
			<li><a href="http://feed.lusipha.github.com" class="menu-rss" target="_blank"></a></li>
		</ul>
	</nav>
	<div class="clear"></div>
</div>
