<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="{{site.author}}" />
    <link rel="shortcut icon" href="/media/img/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/media/css/style.css" />
	<title>{{site.title}}</title>
    <script type="text/javascript" src="/media/js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="/media/js/base.js"></script>
  </head>
  <body>
	<div id="clickload">页面加载中...</div>
	<div id="wrap">
		{% include header.html %}
		{% include post.html %}
		{% include footer.html %}
	</div>
  </body>
</html>